@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.otf');
}

video {
    object-fit: cover !important;
    position: fixed;
    z-index: -4000;
    height: 100% !important;
    width: 100% !important;
}

canvas {
    width: 95% !important;
    position: absolute;
    height: 95% !important;
    z-index: -500;
    margin-top: 12vw;
}

h1 {
    font-size: 12vw;
}

h2 {
    font-size: 10vw;
}

h3 {
    font-size: 8vw;
}

h1,
h2,
h3,
p {
    color: white;
    margin: 74px 0px !important;
    font-family: 'Bebas Neue', Fallback, sans-serif;
}

body {
    height: 100%;
    background-color: #EDBC00;
    background-image: url('../assets//stadium.png');
    background-position: unset; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    font-family: 'Bebas Neue', Fallback, sans-serif;
}

.box {
    padding: 8px !important;
    background: transparent !important;
    border: 0px solid #FFF !important;
}

.box-row {
    padding: 8px !important;
    background: transparent !important;
    border: 0px solid #FFF !important;
}

.title-light {
    letter-spacing: 10px;
    font-weight: 50;
}

.title-bold {
    letter-spacing: 0.2vw;
}

.volcano {
    padding: 12px;
    width: 120px;
    color: white;
}

.volcano-container {
    margin: -20px !important;
}

.box-row.circles {
    background-image: url('../assets/circles.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 14vw !important;
}

.box-row.circles > img {
    width: 6vw;
}

.grow { transform: scale(1.2); }

.countdown-overlay {
    position: fixed;
    display: initial;
    font-size: 175px;
    color: white;
    height: inherit;
}

.countdown-overlay .backdrop {
    background-color: white !important;
    margin: 0vw -150vw;
    opacity: 0.7;
    height: -webkit-fill-available;
}

.countdown-overlay .backdrop .counter {
    position: fixed;
    display: block;
    color: black;
    font-size: 18vw;
    margin: -15vw 65vw;
    z-index: 6000;
}

.countdown-overlay .backdrop .ready {
    position: fixed;
    display: block;
    color: black;
    width: max-content;
    font-size: 14vw;
    margin: 75vw 160vw;
    z-index: 6000;
}

.send-email {
    font-size: 34px;
    z-index: 9000;
    position: absolute;
    margin: -225px -100px;
    width: max-content;
}

#screenshot {
    margin: 50vw 18vw;
    border: 10px solid;
}
